/* Ultra-thin scrollbar styling */
.ultra-thin-scrollbar::-webkit-scrollbar {
  width: 2px !important; /* Super thin scrollbar */
  height: 2px !important;
}

.ultra-thin-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}

.ultra-thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.2) !important; /* Lighter gray */
  border-radius: 20px !important;
}

.ultra-thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.4) !important;
}

/* Firefox */
.ultra-thin-scrollbar {
  scrollbar-width: thin !important; /* Firefox's thinnest option */
  scrollbar-color: rgba(156, 163, 175, 0.2) transparent !important;
}

/* Hide scrollbar when not in use */
.hide-scrollbar-inactive::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  transition: background-color 0.3s;
}

.hide-scrollbar-inactive:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.2) !important;
}
